<!DOCTYPE html>
<html
        lang="en" class="h-100"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand text-white">
            <span class="fw-bold" th:text="${#authentication.name}">USERNAME</span>
            <span> with roles: </span>
            <span sec:authorize="hasRole('ROLE_ADMIN')">ADMIN</span>
            <span sec:authorize="hasRole('ROLE_USER')">USER</span>
        </p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">

        <div class="p-0 col-2">
            <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" href="/admin/rest" sec:authorize="hasRole('ROLE_ADMIN')" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" href="/user/rest" sec:authorize="hasRole('ROLE_USER')"
                   role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>
        <div class="p-0 col-10 bg-light">
            <div class="tabs p-4">
                <h1>Admin page</h1>
                <div class="pt-2 tab-content">
                    <div class="tab-pane fade show active" id="description">
                        <div class="card">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <button class="nav-link active" id="nav-users-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-users" type="button" role="tab"
                                            aria-controls="nav-users"
                                            aria-selected="true">Users table
                                    </button>
                                    <button class="nav-link" id="new-user-tab" data-bs-toggle="tab"
                                            data-bs-target="#newUser"
                                            type="button" role="tab" aria-controls="newUser" aria-selected="false">New
                                        User
                                    </button>
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-users" role="tabpanel"
                                     aria-labelledby="nav-users-tab">
                                    <div class="p-2">
                                        <h5>All users</h5>
                                    </div>
                                    <div class="p-3 bg-white border border-top-0">
                                        <table class="usersTable table table-striped bg-white">
                                            <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Surname</th>
                                                <th>Roles</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tableUsers">

                                            <div class="modal fade"
                                                 id="edit-modal"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" modal-dialog-centered>
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body fw-bold">
                                                            <div style="text-align: center">
                                                                <div class="row justify-content-center align-items-center">
                                                                    <form class="text-center" id="editFormBody">
                                                                        <div class="form-group font-weight-bold">
                                                                            <div class="form-group m-3">
                                                                                <label for="idEdit"
                                                                                       class="col-form-label">ID</label>
                                                                                <input type="text"
                                                                                       class="form-control" id="idEdit"
                                                                                       name="id"
                                                                                       disabled/>
                                                                            </div>

                                                                            <div class="form-group m-3">
                                                                                <label for="usernameEdit">Username</label>
                                                                                <input type="text" class="form-control"
                                                                                       id="usernameEdit"
                                                                                       name="firstName"/>
                                                                            </div>

                                                                            <div class="form-group m-3">
                                                                                <label for="lastNameEdit"
                                                                                       class="col-form-label">Last
                                                                                    name</label>
                                                                                <input type="text" class="form-control"
                                                                                       id="lastNameEdit"
                                                                                       name="lastName"/>
                                                                            </div>


                                                                            <div class="form-group m-3">
                                                                                <label for="passwordEdit"
                                                                                       class="col-form-label">Password</label>
                                                                                <input type="password"
                                                                                       class="form-control"
                                                                                       id="passwordEdit"
                                                                                       name="password"
                                                                                />
                                                                            </div>

                                                                            <div class="form-group">
                                                                                <label for="roles"
                                                                                       class="com-form-label">Role</label>
                                                                                <select multiple id="roles" size="2"
                                                                                        class="form-control"
                                                                                        style="max-height: 100px">
                                                                                    <option value="ROLE_USER">USER
                                                                                    </option>
                                                                                    <option value="ROLE_ADMIN">ADMIN
                                                                                    </option>
                                                                                </select>
                                                                            </div>

                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-bs-dismiss="modal">Close
                                                                                </button>
                                                                                <button class="btn btn-info"
                                                                                        id="editButton">Edit
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade"
                                                 id="delete-modal"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" modal-dialog-centered>
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">Edit user</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body fw-bold">
                                                            <div style="text-align: center">
                                                                <div class="row justify-content-center align-items-center">
                                                                    <form class="text-center" id="deleteFormBody">
                                                                        <div class="form-group font-weight-bold">
                                                                            <div class="form-group m-3">
                                                                                <label for="idDelete"
                                                                                       class="col-form-label">ID</label>
                                                                                <input type="text"
                                                                                       class="form-control"
                                                                                       id="idDelete"
                                                                                       name="id"
                                                                                       disabled/>
                                                                            </div>

                                                                            <div class="form-group m-3">
                                                                                <label for="usernameDelete">Username</label>
                                                                                <input type="text" class="form-control"
                                                                                       id="usernameDelete"
                                                                                       name="firstName"
                                                                                       disabled/>
                                                                            </div>

                                                                            <div class="form-group m-3">
                                                                                <label for="lastNameEdit"
                                                                                       class="col-form-label">Last
                                                                                    name</label>
                                                                                <input type="text" class="form-control"
                                                                                       id="lastNameDelete"
                                                                                       name="lastName"
                                                                                       disabled/>
                                                                            </div>


                                                                            <div class="form-group">
                                                                                <label for="roles"
                                                                                       class="com-form-label">Role</label>
                                                                                <select multiple id="rolesDelete"
                                                                                        size="2" class="form-control"
                                                                                        style="max-height: 100px">
                                                                                    <option value="ROLE_USER">USER
                                                                                    </option>
                                                                                    <option value="ROLE_ADMIN">ADMIN
                                                                                    </option>
                                                                                </select>
                                                                            </div>

                                                                            <div class="modal-footer">
                                                                                <button type="button"
                                                                                        class="btn btn-secondary"
                                                                                        data-bs-dismiss="modal">Close
                                                                                </button>
                                                                                <button class="btn btn-danger"
                                                                                        id="DeleteButton">Delete
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </tr>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="tab-pane fade px-4" id="newUser" role="tabpanel"
                                     aria-labelledby="nav-newUser-tab">
                                    <div class="p-2">
                                        <h5>Add new user</h5>
                                    </div>
                                    <div class="col-md bg-white border">
                                        <form align="center" class="offset-md-4 col-md-3 mt-4 mb-4" id="addUserForm">

                                            <label for="usernameAdd">Username</label>
                                            <input type="text" class="form-control"
                                                   id="usernameAdd"
                                                   name="firstName"/>
                                            <br>
                                            <label for="lastNameAdd" class="col-form-label">Last
                                                name</label>
                                            <input type="text" class="form-control"
                                                   id="lastNameAdd"
                                                   name="lastName"/>
                                            <br>
                                            <label for="passwordAdd"
                                                   class="col-form-label">Password</label>
                                            <input type="password" class="form-control"
                                                   id="passwordAdd"
                                                   name="password"
                                            />
                                            <br>
                                            <div class="form-group m-3" readonly="readonly">
                                                <label for="rolesAdd" class="com-form-label">Role</label>
                                                <select multiple id="rolesAdd" size="2" class="form-control"
                                                        style="max-height: 100px">
                                                    <option value="ROLE_USER">USER</option>
                                                    <option value="ROLE_ADMIN">ADMIN</option>
                                                </select>
                                            </div>
                                            <br>

                                            <button th:type="submit" class="btn btn-success btn-lg" value="Add new user"
                                                    id="addUser">Add new
                                                user
                                            </button>

                                        </form>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script>
    async function getUsers() {
        let temp = ''
        const table = document.getElementById('tableUsers')
        const res = await fetch(`rest/all`)
        if (!res.ok) {
            console.error(res.statusText)
        }
        const users = await res.json()
        users.forEach(user => {
            temp += `
                <tr>
                    <td>${user.id}</td>
                    <td>${user.username}</td>
                    <td>${user.userLastName}</td>
                    <td>${user.roles.map(e => " " + e.userRole.substr(5))}</td>
                    <td>
                        <button type="button" class="btn btn-info" data-bs-toggle="modal" id = "edit-button"
                            data-bs-target="#edit-modal" data-bs-updateUserId='${user.id}'>
                                Edit
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"  id = "delete-button"
                            data-bs-target="#delete-modal" data-bs-deleteUserId='${user.id}'>
                                Delete
                        </button>
                   </td>`
            table.innerHTML = temp;
        })
    }
</script>
<script>
</script>
<script>
</script>
<script>
    async function showUpdateModal() {
        const updateModal = document.getElementById('edit-modal')
        updateModal.addEventListener('show.bs.modal', async function (event) {
            const button = event.relatedTarget
            const id = button.getAttribute('data-bs-updateUserId');
            await UpdateModal(id)
        })
    }
</script>
<script>
    async function UpdateModal(id) {
        let user
        const res = await fetch(`rest/${id}`)
        user = await res.json()
        document.getElementById('idEdit').setAttribute("value", user.id)
        document.getElementById('usernameEdit').setAttribute("value", user.username)
        document.getElementById('lastNameEdit').setAttribute("value", user.userLastName)
        await editButton()
    }
</script>
<script>
    async function editButton() {
        $("#editButton").on('click', async () => {
            let roleList = [
                {id: 2, role: "ROLE_USER"},
                {id: 1, role: "ROLE_ADMIN"}
            ]
            let checkedRoles = () => {
                let array = []
                let options = document.querySelector('#roles').options
                for (let i = 0; i < options.length; i++) {
                    if (options[i].selected) {
                        array.push(roleList[i])
                    }
                }
                return array;
            }
            let userId = $("#idEdit").val()
            let username = $("#usernameEdit").val()
            let password = $("#passwordEdit").val()
            let userLastName = $("#lastNameEdit").val()
            let user = {
                id: userId,
                username: username,
                password: password,
                userLastName: userLastName,
                roles: checkedRoles(),
            }
            const a = await fetch("/admin/rest/update", {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'Referer': null
                },
                body: JSON.stringify(user)
            })
            if (!a.ok) {
                console.error(a.statusText)
            }
        })
    }

</script>

<script>
    async function showDeleteModal() {
        const updateModal = document.getElementById('delete-modal')
        updateModal.addEventListener('show.bs.modal', async function (event) {
            const button = event.relatedTarget
            const id = button.getAttribute('data-bs-deleteUserId');
            await deleteModal(id)
        })
    }
</script>
<script>
    async function deleteModal(id) {
        let user
        const res = await fetch(`rest/${id}`)
        user = await res.json()
        document.getElementById('idDelete').setAttribute("value", user.id)
        document.getElementById('usernameDelete').setAttribute("value", user.username)
        document.getElementById('lastNameDelete').setAttribute("value", user.userLastName)
        const elem = document.getElementById('rolesDelete')
        elem.innerHTML = user.roles.map(role => "<option>" + role.userRole.substr(5) + "</option>").join(" ")
    }
</script>
<script>
    $("#DeleteButton").on('click', async () => {
        console.log("hello")
        let roleList = [
            {id: 2, role: "ROLE_USER"},
            {id: 1, role: "ROLE_ADMIN"}
        ]
        let selectRoles = () => {
            let array = []
            let options = document.querySelector('#rolesDelete').options
            for (let i = 0; i < options.length; i++) {
                if (options[i].selected) {
                    array.push(roleList[i])
                }
            }
            return array;
        }
        let userId = $("#idDelete").val()
        let username = $("#usernameDelete").val()
        let password = $("#passwordDelete").val()
        let userLastName = $("#lastNameDelete").val()
        let user = {
            id: userId,
            username: username,
            password: password,
            userLastName: userLastName,
            roles: selectRoles(),
        }
        const id = $("#idDelete").val()
        const a = await fetch("/admin/rest/${id}", {

            method: "DELETE",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Referer': null
            },
            body: JSON.stringify(user)
        })
        if (!a.ok) {
            console.error(a.statusText)
        }
    })
</script>
<script>
    async function addButton() {
        $("#addUser").on('click', async () => {
            let roleList = [
                {id: 2, role: "ROLE_USER"},
                {id: 1, role: "ROLE_ADMIN"}

            ]
            let selectRoles = () => {
                let array = []
                let options = document.querySelector('#rolesAdd').options
                for (let i = 0; i < options.length; i++) {
                    if (options[i].selected) {
                        array.push(roleList[i])
                    }
                }
                return array;
            }
            let userId = $("#idAdd").val()
            let username = $("#usernameAdd").val()
            let password = $("#passwordAdd").val()
            let userLastName = $("#lastNameAdd").val()
            let user = {
                id: userId,
                username: username,
                password: password,
                userLastName: userLastName,
                roles: selectRoles(),
            }
            let a = await fetch("/admin/rest/add", {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(user)
            })
            if (!a.ok) {
                console.error(a.statusText)
            }
        })
    }


</script>
<script>

</script>
<script>
    $(async function () {
        await showUpdateModal()
        await showDeleteModal()
        await addButton()
        setTimeout(getUsers, 200)
    })
</script>
</body>
</html>