<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
</head>
<body>
<div class="container-fluid">
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
    </tr>
    <tr>
    <tr th:each="user : ${message}">
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getUsername()}"></td>
        <td th:utext="${user.getUserLastName()}"></td>
        <td th:utext="${user.getPassword()}"></td>

    </tr>
    <a th:href="@{/new}">Create new user</a>
    <br>
    <div th:each="user : ${message}">
        <a th:href="@{/{id}/edit(id=${user.getId()})}">Update or delete user</a>
        <a th:utext="${user.getId()}">user</a>
        <a th:utext="${user.getUsername()}"></a>
        <a th:utext="${user.getUserLastName()}"></a>
        <a th:utext="${user.getPassword()}"></a>

    </div>
</table>
<a th:href="@{/logout}">logout</a>
</body>
</html>